*
{
    margin: 0;
    padding: =0;
    
}

header 
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url(pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
        
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 25px;
    
}

.main-nav li
{
    display: inline-block;
    
}


.main-nav li
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px; 
} 

.main-nav li.active a
{
    border: 1px solid white;
    padding: 10px 15px; 
    text-decoration: none;
    color: white;
    
    
}

body
{
    font-family: sans-serif;
}

.row
{
    max-width: 1200px;
    margin: auto;
    
}

.here
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-right: 0px;
}


h1
{
    color: rgba(79,79,79);
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 300px;
    margin-left: 200px;
}